{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spike Free</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar" data-simplebar>
        <div class="d-flex mb-4 align-items-center justify-content-between">
            <a href="{{ path('app_afflambda') }}" class="text-nowrap logo-img ms-0 ms-md-1">
              <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <a href="{{ path('app_afflambda') }}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                <img src="../assets/images/logos/image002.png" width="250" alt="">
              </a>
          <ul id="sidebarnav" class="mb-4 pb-2">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
              <span class="hide-menu">Accueil</span>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link sidebar-link primary-hover-bg"
                href="{{ path('app_afflambda') }}"
                aria-expanded="false"
              >
                <span class="aside-icon p-2 bg-light-primary rounded-3">
                  <i class="ti ti-file-description fs-7 text-primary"></i>
                </span>
                <span class="hide-menu ms-2 ps-1">Les Formations</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a
                class="sidebar-link sidebar-link danger-hover-bg"
                href="{{ path('aff_afflambda_les_inscription') }}"
                aria-expanded="false"
              >
                <span class="aside-icon p-2 bg-light-danger rounded-3">
                  <i class="ti ti-user-plus fs-7 text-danger"></i>
                </span>
                <span class="hide-menu ms-2 ps-1">Mes Inscriptions</span>
              </a>
            </li>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <div style="position: absolute; top: 20px; right: 940px;"class="navbar-collapse justify-content-end px-8" id="navbarNav">
              <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                  <h2 href="{{ path('app_aff_serv') }}" class="">Bonjour {{ employe.prenom }},</h2>
              </ul>
            </div>
          </ul>
          <div class="navbar-collapse justify-content-end px-8" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                <a href="{{ path('app_login_connexion') }}" class="btn btn-outline-primary mx-3 mt-2 d-block shadow-none">Deconnexion</a>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
        <div class="body-wrapper">
            <!-- Header Start -->
            <header class="app-header">
                <!-- Ton contenu d'en-tête -->
            </header>
            <!-- Header End -->
            <div class="container-fluid">
                <div class="row">
                  <LEFT style="position: absolute; top: 100px; left: -180px;">
                    <div class="col-lg-12 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body p-12">
                                <div class="d-flex mb-4 justify-content-between align-items-center">
                                    <h5 class="mb-0 fw-bold">Liste des formations - S'inscrire </h5>
                                    <!-- Ajouter un bouton ou des actions supplémentaires ici si nécessaire -->
                                </div>
                                <div class="table-responsive" data-simplebar>
                                {% for type, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                    <table class="table table-bordered table-lg align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nom Formation</th>
                                                <th>Date</th>
                                                <th>Nombre d'heures</th>
                                                <th>Département</th>
                                                <th>Produit</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for formation in formations %}
                                                <tr>
                                                    <td>{{ formation.id }}</td>
                                                    <td>{{ formation.nom }}</td>
                                                    <td>{{ formation.dateDebut|date('Y-m-d') }}</td>
                                                    <td>{{ formation.nbreHeures }} h</td>
                                                    <td>{{ formation.departement }}</td>
                                                    <td>{{ formation.produit.libelle }}</td>
                                                    <td>
                                                      <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                                                        <a href="{{path('app_afflambda_inscription', {'idForm': formation.id})}}" class="btn btn-outline-info mx-3 mt-2 d-block shadow-none">S'inscrire</a>
                                                      </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                  </LEFT>
                </div>
            </div>
        </div>
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>
</body>

</html>
        {% endblock %}
